@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme{
    --font-sora: "Sora", sans-serif;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    background-color: #171717;
}
